* {
    margin: 0;
    border: 0;
    padding: 0;
}
  
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
  
nav,footer,header,aside{display: block;}
  
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input,button,textarea {font-family: inherit;}
  
input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img {vertical-align: top;} 
  
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}.text-block {
      text-align: center;
}

body {
    width: 1440px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #E3B873;
}

.wrapper {
    display: grid;
    grid-template-columns: 368px 2fr 1fr 1fr;
    grid-auto-columns: minmax(156px, auto);
    grid-auto-rows: minmax(83px, auto);   
    background-color: #131313;
}

.logo {
    padding: 36px 92px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    align-self: center;   
    
}

.wrapper-menu {
    padding: 0;   

}
.included{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 87px;
    background-color: #131313;
    align-items: center;    
    
}
.phone-number {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    grid-auto-rows: 87px;
    background-color: #131313;
    align-self: center;
    padding-left: 68px;
    text-decoration: underline;

}    

.request {
    appearance: none;
    width: 170px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-radius: 2px;
    background: #131313;
    color: #FFFFFF;
    padding: 13px 33px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffffff;
    font-style: italic; 
    

}
.request:hover {
    background-color: #E3B873;
    cursor: pointer;
}
.content-block1 {
    width: 1440px;
    height: 707px;
    background-image:url(img/1.jpg);    
    background-color: #00000079;
    
}

.fit {
    width: 1440px;
    height: auto;
    opacity: 0.5;
}
.title-1 {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #ffffff;
    padding-top: 194px;
    padding-left: 134px;

}
.content-block1-txt {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #ffffff;
    padding-top: 19px;
    padding-left: 134px;
}

.cost {
    appearance: none;
    margin-top: 41px;
    margin-left: 134px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #FFFFFF;
    padding: 20px 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffffff;
    font-style: italic;
}
.cost:hover {
    background-color: #E3B873;
    cursor: pointer;
}

.submit {
    appearance: none;    
    width: 240px;
    margin-top: 41px;
    margin-left: 20px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #FFFFFF;
    padding: 20px 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffffff;
    font-style: italic;

}

.submit:hover {
    background-color: #E3B873;
    cursor: pointer;
}
/*конец первого блока*/

.included-main {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #E3B873;
    display: grid;
    grid-template-columns: 820px 170px 290px;
    grid-gap: 10px;
    grid-auto-rows: 177px;
    grid-column-end: auto;
    background-color: #131313;
    align-items: center;
    text-transform: uppercase;

}
.included-main:hover {
    text-decoration: underline;
}
.item1 {
    padding-top: 107px;
    padding-left: 600px;
}
.item2 {
    padding-top: 107px;
}
.included-content-main {
    display: grid;
    grid-template-columns: 300px 300px 652px;
    grid-auto-rows: 100;
    grid-column-end: auto;
    background-color: #131313;

}

.included-content-main1 {
    padding-left: 134px;
    grid-column: 1/3;
    grid-row: 1/2;
    text-transform: uppercase;
    letter-spacing: -0.07;
}
.content-main-title {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    color: #E3B873;     
    
}

.included-content-main2 {
    grid-column: 3/4;
    grid-row: 1/8;
    
}
.included-content-img1 {
    width: 600px;
    height: auto;
}

.included-content-main3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.content-main-title-small-1 {
    padding-left: 134px;
}

.content-main-paragraph {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    padding-left: 134px;   
    color: #ffffff;

}
.included-content-main4 {
    
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
}
.content-main-paragraph-small-1 {
    padding-left: 134px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;   
    color: #ffffff;
}

.content-main-title-small-1 {
    grid-column: 1/3;
    grid-row: 3;
}

.content-main-paragraph-small {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;   
    color: #ffffff;
}
.included-content-main12{
    grid-column: 1/3;
}
.arrow1 {
    padding-left: 134px;
    
}

.ball1 {
    padding-left: 10px;
    padding-right: 10px;
}
/* конец второго блока*/

.interval{
    width: 1440px;
}
.interval-inner {
    background-color: #131313;
}
.interval-title {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 600px;
    padding-top: 90px;
    padding-bottom: 12px;
}
.interval-img {
    display: flex;
    background-color: #131313;
}

.fencing1 {
    padding-left: 630px;
    padding-top: 10px;
    
}
.Camera {
    padding-left: 10px;
    padding-bottom: 30px;
}
.fencing2 {
    padding-left: 5px;
    padding-top: 10px;
}
.video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.video-item1 {
    grid-column: 1/2;
    background-color: #131313;
}
.video-item2 {
    grid-column: 2/3;
    grid-row: 1/3;
}
.video-item3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.video-item4 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #131313;
}
.video-item5 {
    grid-column: 3/4;
    grid-row: 2/3;

}
.start-video {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-top: 174px;
    padding-left: 360px;
    z-index: 1;
}

.text-block {
    text-align: center;
}
.fencing-txt {
    padding-top: 62px;
    padding-bottom: 34px;
}
.text-block-item {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    
}
.send-form{
    display: flex;
}
.name {
    padding-left: 333px;
    padding-top: 50px;
}

.phone {
    padding-left: 50px;
    padding-top: 50px;
}

.send-form-paragraph-1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;   
    color:#36363680;
    
}
.send-form-video {
    width: 231px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;   
    color:#131313;
    border-bottom: 1px solid #131313 ;
}
.submit-form {
    appearance: none;    
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #131313;
    padding: 20px 75px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #131313;
    font-style: italic;
    filter: drop-shadow(5px 5px 10px 0px #E3B8734D)  
}
.submit-form:hover {
    color: #ffffff;
    background-color: #E3B873;
    border: 1px solid #E3B873;
    cursor: pointer;
}
/*стилизованный чекбокс*/
.checkbox {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    margin-left: 600px;
    margin-top: 39px;    
}  
.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;    
}  
.checkbox__label {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding-left: 25px;
    margin-top: -2px;
    font-size: 1rem;
    color: #131313;
    cursor: pointer;
}  
.checkbox__label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
  
    border: 1px solid #131313;
    background-color: #FFFFFF;
    border-radius: 3px;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    transition: background .1s linear, border .1s linear;
}  
.checkbox__label:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
  
    background: url(https://htmlbase.ru/storage/app/media/checkbox/check.svg) no-repeat;
    background-size: 12px 12px;
    opacity: 0;
  
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
  
    transition: opacity .1s linear;
}
.checkbox__input:checked + .checkbox__label:before {
    background-color: #E3B873;
    border-color: #E3B873;
}  
.checkbox__input:checked + .checkbox__label:after {
    opacity: 1;
}
/*стилизованный чекбокс*/
.agreement-video {
    display: flex;
    justify-content: center;
}
.agreement-checkbox-video {
    margin-left: 50px;
    margin-top: 39px;
}
.agreement-text-video {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin-top: 39px;
    padding-left: 9px;
    color:#131313;
}

.interval-inner1 { 
    background-color: #ffffff;
}
.interval-title01 {
     font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #131313;
    text-transform: uppercase;
    padding-left: 623px;
    padding-top: 90px;
    padding-bottom: 12px;
}
.interval-img1 {
display: flex;
background-color: #ffffff;
}


.wrench-hammer {
padding-left: 10px;
padding-bottom: 30px;
}


.types-of-repair-foto {
    display: flex;
    justify-content: space-around;
}
.types-of-repair-foto1 {
    width: 346px;
    height: auto;
   
}
.types-of-repair-foto2 {
    width: 346px;
    height: auto;
    
}
.types-of-repair-foto3 {
    width: 346px;
    
    height: auto;
    
} 

.types-of-repair-description {
    display: flex;
    margin-top: -120px;
    z-index: 1;
    
     
}
.types-of-repair-description1 {
    width: 266px;
    margin-left: 86px;
    padding-left: 20px;
    background-color: #ffffff;
    
}

.types-of-repair-description2 {
    width: 266px;
    margin-left: 168px;
    padding-left: 20px;
    background-color: #ffffff;
    
}
.types-of-repair-description3 {
    width: 266px;
    margin-left: 168px;
    padding-left: 20px;
    background-color: #ffffff;
    
}
.types-of-repair-description-title {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-left: 31px;
    padding-top: 25px;    
    color: #131313;
    
}
.types-of-repair-description-paragraph {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    padding-left: 31px;
    padding-top: 13px;
    color: #131313;   

}
.types-of-repair-price {
    display: flex;
}
.types-of-repair-price-nominal1 {
    appearance: none;    
    width: 260px;
    margin-left: 80px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #131313;
    padding: 17px 36px;
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #131313;
    text-transform: uppercase;

}
.types-of-repair-price-nominal2 {
    appearance: none;    
    width: 265px;
    margin-left: 185px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #131313;
    padding: 17px 36px;
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #131313;
    text-transform: uppercase;

}
.types-of-repair-price-nominal3 {
    appearance: none;    
    width: 268px;
    margin-left: 185px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #131313;
    padding: 17px 36px;
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #131313;
    text-transform: uppercase;

}
.types-of-repair-price-nominal1:hover {
    color: #ffffff;
    background-color: #E3B873;
    border: 1px solid #E3B873;
    cursor: pointer;

}
.types-of-repair-price-nominal2:hover {
    color: #ffffff;
    background-color: #E3B873;
    border: 1px solid #E3B873;
    cursor: pointer;

}
.types-of-repair-price-nominal3:hover {
    color: #ffffff;
    background-color: #E3B873;
    border: 1px solid #E3B873;
    cursor: pointer;

}

.for-client {
  background-image: url(img/corner.png);
  background-repeat: no-repeat;
}

.bonus {
  padding-left: 200px;
  padding-top: 130px;
  padding-bottom: 55px; 

}

.bonus__item {
  display: flex;  
  
}

.bonus__item__txt {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  color:#131313;
    
}  

.for-client-ask {
  width: 506px;
  height: 506px;
  margin-left: 834px;
  margin-top: -500px;
  background-color: #131313;
}

.for-client-ask-title {
  display: flex;
  justify-content: center;
}

.for-client-ask-title-txt {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-top: 28px;
  padding-bottom: 32px;
  text-align: center;
  color: #E3B873;

}
.send-form-paragraph0 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  padding-left: 49px;
  color:#FFFFFF80;
}

.send-form-paragraph {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  padding-left: 49px;
  padding-top: 50px;
  color:#FFFFFF80;
  
}
.send-form-input-bonus {
  margin-left: 50px;
}
.send-form-input-bonus {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  width: 408px;
  
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  background-color: #131313;
}
 

.checkbox2 {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    margin-left: 50px;
    margin-top: 22px;
       
}  
.checkbox__input2 {
    -webkit-appearance: none;
    appearance: none;
    position: absolute; 
    
}  
.checkbox__label2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding-left: 25px;
    margin-top: -2px;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;
}  
.checkbox__label2:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
  
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 3px;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    transition: background .1s linear, border .1s linear;
}  
.checkbox__label2:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
  
    background: url(https://htmlbase.ru/storage/app/media/checkbox/check.svg) no-repeat;
    background-size: 12px 12px;
    opacity: 0;
  
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
  
    transition: opacity .1s linear;
}
.checkbox__input2:checked + .checkbox__label2:before {
    background-color: #E3B873;
    border-color: #E3B873;
}  
.checkbox__input2:checked + .checkbox__label2:after {
    opacity: 1;
}

.submit-form-bonus {
  margin-left: 140px;
  

}
.measurer {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  padding: 19px 42px;
  color:#FFFFFF;
  background-color: #E3B873;
  text-transform: uppercase;
  cursor: pointer;
}
.economy {
  display: flex;
  width: 490px;
  align-items: center;
  margin-left: 850px;
  margin-bottom: 130px;
  color: #E3B873;
}

.economy-txt {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

}
.empty_hat {
    width: 1440px;
    height: 113px;
    background-color: #FFFFFF;
}
.realize {
    width: 1440px;
    background-image: url(img/realize-background.png);
    background-repeat: no-repeat;
}
.fantasy {
        
}
.title-fantasy {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    padding-left: 99px;
    padding-top: 137px;
    padding-bottom: 47px;
    color: #E3B873;
    text-transform: uppercase;
}
.txt-fantasy {
    width: 300px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    padding-left: 99px;
    color: #FFFFFF;
    list-style: none;
    position: relative;
    z-index: 2;       
}
  .txt-fantasy-item:hover {
        text-decoration: underline;
        color: #E3B873;
        cursor: pointer;
      }
  .realize-foto {
        display: flex;
        
      }
  .realize_foto_1 {
        margin-top: -700px;
        padding-left: 450px;
        
      }
  .realize_foto_2 {
        margin-left: -354px;
        margin-top: -100px;
        
      }
  .realize_foto_3 {
        padding-left: 40px;
        margin-top: -750px;
      }
  .realize_foto_4 {
        margin-left: -354px;
        margin-top: -430px;      
      }
  .interval-inner1 {
        background-color: #ffffff;
    }
  .interval-title1 {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #131313;
    text-transform: uppercase;
    padding-left: 600px;
    padding-top: 90px;
    padding-bottom: 12px;
    }
  .interval-img1 {
    display: flex;
    background-color: #ffffff;
    }
  .shake_hands {
      padding-left: 10px;
      padding-bottom: 30px;
    }
    .feedback {
        margin-top: 65px;
        width: 1440px;
        display: flex;
        
      }
      .feedback_1 {
        width: 376px;
        height: 428px;
        margin-left: 100px;
        filter: drop-shadow(0 10px 50px rgba(0, 0, 0, 0.04));
      }
      .feedback_2 {
        width: 376px;
        height: 428px;
        padding-left: 50px;
        filter: drop-shadow(0 10px 50px rgba(0, 0, 0, 0.04));
      }
      .feedback_3 {
        width: 376px;
        height: 428px;
        margin-left: 100px;
        filter: drop-shadow(0 10px 50px rgba(0, 0, 0, 0.04));
      }
      .feedback_foto {
        border-radius: 50%;
      }
      .feedback-title {
        padding-left: 119px;
        margin-top:  -65px;
        padding-bottom: 40px;
        font-family: 'Yeseva One', serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #131313;
      }
      .feedback-txt {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #131313;
      }
      .feedback-button {
        display: flex;
        position: relative;
        z-index: 1;
        margin-top: -54px;
      }
      .feedback-button-01 {
        width: 294px;
        height: 54px;
        margin-left: 82px;
        display: flex;
        background-color: #E3B873;
        cursor: pointer;
        
      }
      .feedback-button-02 {
        width: 294px;
        height: 54px;
        margin-left: 122px;
        display: flex;
        background-color: #E3B873;
        cursor: pointer;
        
      }
      .feedback-button-03 {
        width: 294px;
        height: 54px;
        margin-left: 122px;
        display: flex;
        background-color: #E3B873;
        cursor: pointer;
        
      }
      .square {
        padding-left: 18px;
        padding-top: 13px;
      }
      .feedback-button-title {
        font-family: 'Yeseva One', serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
       margin-top:  -28px;
        padding-left: 56px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .button-border {
        padding-left: 10px;
      }
      .note {
        padding-left: 18px;
        padding-top: 13px;
      }
      .wrapper-qustions-form{
        width: 1440px;
        margin-top: 132px;
        
      }
      .questions-form {
        width: 883px;
        height: 445px;
        margin-left: 208px;
        display: flex;
        background-color: #131313;
        
      }
      .questions-form-title {
        
      margin-left: 313px;
      margin-right: 312px;
      margin-top: 34px;
      }
      .questions-form-title-txt {
        width: 257px;
        font-family: 'Yeseva One', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
      }
      .questions-form-paragraph0 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        padding-top: 106px;
        margin-left: -702px;
        color:#FFFFFF80;
      }
      .input-questions-form {
        margin-left: -702px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        width: 231px;
        
        color: #FFFFFF;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        background-color: #131313
      
      }
      .questions-form-paragraph {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        margin-left: -413px;
        padding-top: 106px;
        color:#FFFFFF80;
      
      }
      .input-questions-form-1 {
        margin-left: -413px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        width: 231px;
        
        color: #FFFFFF;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        background-color: #131313
      }
      .questions-form-paragraph1 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        padding-top: 200px;
        margin-left: -702px;
        color:#FFFFFF80;
      }
      .input-questions-form-2 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        width: 516px;
        
        color: #FFFFFF;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        background-color: #131313;
       
      }

.checkbox3 {
        display: flex;
        position: relative;
        margin-bottom: 1rem;
        margin-left: -370px;
        margin-top: 280px;
           
    }  
    .checkbox__input3 {
        -webkit-appearance: none;
        appearance: none;
        position: absolute; 
        
    }  
    .checkbox__label3 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        padding-left: 25px;
        margin-top: -2px;
        font-size: 1rem;
        color: #FFFFFF;
        cursor: pointer;
    }  
    .checkbox__label3:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
      
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        border-radius: 3px;
      
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      
        transition: background .1s linear, border .1s linear;
    }  
    .checkbox__label3:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
      
        background: url(https://htmlbase.ru/storage/app/media/checkbox/check.svg) no-repeat;
        background-size: 12px 12px;
        opacity: 0;
      
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 2;
      
        transition: opacity .1s linear;
    }
    .checkbox__input3:checked + .checkbox__label3:before {
        background-color: #E3B873;
        border-color: #E3B873;
    }  
    .checkbox__input3:checked + .checkbox__label3:after {
        opacity: 1;
    }
    

.submit-questions-form {
        width: 150px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        margin-top: 350px;
        margin-left: -220px;
        padding: 19px 54px;
        color:#FFFFFF;
        background-color: #E3B873;
        text-transform: uppercase;
        cursor: pointer;
      }
.our-place {
        width: 1440px;
        height: 953px;
        margin-top: -180px;
        background-image: url(img/background-final.png);
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
}
.our-place-adress {
        padding-top: 247px;
        width: 1440px
}
.our-place-adress-title {
        font-family: 'Yeseva One', serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #E3B873;
        text-transform: uppercase;
        text-align: center;
}
.our-place-net {
    padding-top: 26px;
}
.email_v {
    padding-left: 640px;
}
.insta_v{
    padding-left: 15px;
}
.our-place-map {
    padding-top: 36px;
    padding-left: 200px;
      }
 /*------ mobile version style ------ */
.wrapper_mobile {
      width: 375px;
  }
.wrapper_introduce {    
      background-color: #131313;
  }
  .introduce_logo {
      display: flex;
      width: 176px;
      padding-left: 18px;
      padding-top: 23px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: #E3B873;
      text-transform: uppercase;
  }
  .introduce_phone {
      display: flex;
      padding-left: 253px;
      margin-top: -18px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: #FFFFFF;
  }
  .introduce_title {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 23px;
      line-height: 31px;
      color: #ffffff;
      padding-top: 109px;
      padding-left: 18px;
      position: relative;
      z-index: 2;
  }
  .introduce_txt {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      padding-left: 18px;
      padding-top: 18px;
      position: relative;
      z-index: 2;
  }
  .introduce_image {
      margin-top: -200px;
      position: relative;
      z-index: 1;
  }
  .button_introduce {
      margin-top: -200px;
      margin-left: 18px;
      position: relative;
      z-index: 2;
  }
  .button_introduce_item1 {
      appearance: none;
      width: 338px;
      border: 0;
      border-radius: 2px;
      background: none;
      color: #FFFFFF;
      padding: 20px 42px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      border: 1px solid #ffffff;
      font-style: italic;
  }
  .button_introduce_item2 {
      appearance: none;
      width: 338px;
      border: 0;
      border-radius: 2px;
      background: none;
      color: #FFFFFF;
      margin-top: 26px;
      padding: 20px 42px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      border: 1px solid #ffffff;
      font-style: italic;
  }
  .button_introduce_item2:hover {
      background-color: #E3B873;

  }
  .button_introduce_item1:hover {
      background-color: #E3B873;

  }
  .content {
      background-color: #131313;
      
  
  }
  .content_title {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 23px;
      line-height: 31px;
      color: #E3B873;
      padding-top: 86px;
      text-align: center;
      text-transform: uppercase;
      
  }
  .content_txt {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 17px;
      color: #FFFFFF;
      text-align: center;
      padding-top: 22px;
  }
  .example_repair_photo {
      padding: 28px 18px;
  }
  .arrow_move_left {
      margin-top: -160px;
      padding-left: 32px;
  }
  .arrow_move_right {
      margin-top: -162px;
      padding-left: 235px;
  }
  .wrapper_repair{
    width: 375px;
      margin-left: 18px;
  }
  .repair_title {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #E3B873;
      text-transform: uppercase;
  }
  .repair_txt {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: #FFFFFF;
  }
  .repair1 {
      display: flex;
  }
  .repair_item_3 {
      padding-left: 101px;
  }
  .repair2 {
      display: flex;
      margin-top: 11px;
  }
  .repair_item_4 {
      padding-left: 60px;
  }
  .repair3 {
      display: flex;
      margin-top: 31px;
  }
  .repair_item_7 {
      padding-left: 40px;
  }
  .repair4 {
      display: flex;
      margin-top: 11px;
  }
  .repair_item_8 {
      padding-left: 80px;
  }
  .video_title_mobile {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 31px;
      color: #ffffff;
      padding-top: 58px;
      text-align: center;
      text-transform: uppercase;
  }
.fencing_left_mobile {
    padding-top: 20px;
    padding-left: 131px;
}
.camera_mobile {
    padding-top: 10px;
}
.fencing_right_mobile {
    padding-top: 20px;
}

.online_control {
    padding: 28px 18px;
}
.button_play {
    margin-top: -170px;
    padding-left: 140px;
}
.fencer_txt_small {
    padding-left: 160px;
}
.video_txt_mobile {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 22px;
}
.send_form_mobile {
      margin-bottom: 70px;
  }
.send_form_mobile_paragraph1 {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 22px;
      padding-left: 18px;
      padding-top: 61px;
      color:#FFFFFF80;
  }
  .send_form_mobile_video {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      width: 340px;
      margin-left: 18px;
      color: #FFFFFF;
      border: none;
      border-bottom: 2px solid #FFFFFF;
      background-color: #131313;
  }
  .send_form_mobile_button{
      background: #FFFFFF;
      position: relative;
      z-index: 1;
  }
  .send_form_mobile_button_item {
      appearance: none;
      width: 338px;
      margin-left: 18px;
      border: 0;
      border-radius: 2px;
      background: #E3B873;
      color: #FFFFFF;
      margin-top: -40px;
      padding: 20px 42px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
  }
  .send_form_mobile_button_item:hover {
      
  }
  .types_of_repair_mobile {
      background-color: #FFFFFF;
  }
  .types_of_repair_title_mobile {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 31px;
      color: #131313;
      padding-top: 58px;
      padding-bottom: 18px;
      text-align: center;
      text-transform: uppercase;
  }
.sign_of_repair_mobile {
    padding-top: 10px;
    padding-bottom: 10px;
}
  .redecorating_image_mobile {
      padding: 28px 18px;
  }
  .redecorating_txt {
      margin-left: 18px;
      width: 270px;
      height: 241px;
      background-color: #FFFFFF;
      position: relative;
      z-index: 1;
      margin-top: -165px;
      
  }
  .redecorating_title {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #131313;
      padding-left: 15px;   
      
  }
  .redecorating_txt_item {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      color: #131313;
      margin-left: 31px;
  }
  .redecorating_button_item {
      appearance: none;
      width: 190px;
      margin-top: 17px;
      border: 0;
      border-radius: 2px;
      background: #E3B873;
      color: #FFFFFF;    
      padding: 11px 19px;
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
  }
  .realize_title_mobile{
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 31px;
      color: #E3B873;
      padding-top: 58px;
      padding-bottom: 18px;
      text-align: center;
      text-transform: uppercase;
  }
  .realize_example_mobile {
      position: relative;
      z-index: 1;
  }
  .realize_image_mobile {
      padding: 28px 18px;
  }
  .realize_arrow_move_left_mobile {
      margin-top: -160px;
      padding-left:  36px;
  }
  .realize_arrow_move_right_mobile {
      margin-top: -162px;
      padding-left:  230px; 
  }
  .qwestions {
      background-color: #131313;
      margin-top: -160px;
  }
  .qwestions_title {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 31px;
      color: #ffffff;
      padding-top: 180px;
      text-align: center;
      text-transform: uppercase;
  }
  .agreement-questions-form_mobile {
      display: flex;
      margin-left: 18px;
      
  }
  .agreement-checkbox-questions-form_mobile {
      
  }
  .agreement-text-questions-form_mobile {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      padding-top: 2px;
      padding-left: 9px;
      color:#FFFFFF;
  }


.checkbox4 {
        display: flex;
        position: relative;
        margin-bottom: 1rem;
        margin-left: 18px;
        
           
    }  
    .checkbox__input4 {
        -webkit-appearance: none;
        appearance: none;
        position: absolute; 
        
    }  
    .checkbox__label4 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        padding-left: 25px;
        margin-top: -2px;
        font-size: 1rem;
        color: #FFFFFF;
        cursor: pointer;
    }  
    .checkbox__label4:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
      
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        border-radius: 3px;
      
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      
        transition: background .1s linear, border .1s linear;
    }  
    .checkbox__label4:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
      
        background: url(https://htmlbase.ru/storage/app/media/checkbox/check.svg) no-repeat;
        background-size: 12px 12px;
        opacity: 0;
      
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 2;
      
        transition: opacity .1s linear;
    }
    .checkbox__input4:checked + .checkbox__label4:before {
        background-color: #E3B873;
        border-color: #E3B873;
    }  
    .checkbox__input4:checked + .checkbox__label4:after {
        opacity: 1;
    }
  .qwestions_mobile_button{
      background: #131313;
      position: relative;
      z-index: 1;
  }
  .qwestions_mobile_button_item {
      appearance: none;
      width: 338px;
      margin-left: 18px;
      border: 0;
      border-radius: 2px;
      background: #E3B873;
      color: #FFFFFF;
      margin-top: 67px;
      padding: 20px 42px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
  }
  .mobile_our-place-map {
      padding: 28px 18px;
      background: #131313;
  }
  .our_adress {
      font-family: 'Yeseva One', serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 31px;
      color: #E3B873;
      background: #131313;
      text-align: center;
      text-transform: uppercase;
  }
  .mobile_conection {
      display: flex;
      background-color: #131313;
      
  }
  .mobile_email {
      padding-left: 145px;
      padding-top: 18px;
      padding-bottom: 50px;
  }
  .mobile_insta {
      padding-left: 20px;
      padding-top: 18px;
      padding-bottom: 50px;
  }
/*------ large screen version style ------ */

.wrapper_large {
    width: 2500px;
    display: flex;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #E3B873;
}

.wrapper_large {
    display: grid;
    grid-template-columns: 918px 2fr 1fr 1fr;
    grid-auto-columns: minmax(156px, auto);
    grid-auto-rows: minmax(83px, auto);   
    background-color: #131313;
}

.logo_large {
    padding-left: 620px;
    padding-top: 36px;
    padding-bottom: 36px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    align-self: center;   
    
}
.main_large {
    width: 2500px;
    background-color: #131313;
}
.wrapper-menu_large {
    padding: 0;
      

}
.included_large{
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 87px;
    background-color: #131313;
    align-items: center;    
    
}
.phone-number_large {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    grid-auto-rows: 87px;
    background-color: #131313;
    align-self: center;
    padding-left: 68px;
    text-decoration: underline;

}    

.request_large {
    appearance: none;
    width: 170px;
    margin-top: 24px;
    border: 0;
    border-radius: 2px;
    background: #131313;
    color: #FFFFFF;
    padding: 13px 33px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffffff;
    font-style: italic; 
    

}
.request_large:hover {
    background-color: #E3B873;
    cursor: pointer;
}
.content-block1_large {
    width: 2500px;
    height: 707px;
    background-image:url(img/1.jpg);    
    background-color: #00000079;
    
}

.fit_large {
    width: 2500px;
    height: auto;
    opacity: 0.5;
}
.title-1_large {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #ffffff;
    padding-top: 194px;
    padding-left: 684px;

}
.content-block1-txt_large {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #ffffff;
    padding-top: 19px;
    padding-left: 684px;
}
.button {
    display: flex;

}
.cost_large_button {
    appearance: none;
    margin-top: 41px;
    margin-left: 684px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #FFFFFF;
    padding: 20px 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffffff;
    font-style: italic;
}
.cost_large_button:hover {
    background-color: #E3B873;
    cursor: pointer;
}
.submit_large_button {
    appearance: none;    
    width: 240px;
    margin-top: -106px;
    margin-left: 20px;
    border: 0;
    border-radius: 2px;
    background: none;
    color: #FFFFFF;
    padding: 20px 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffffff;
    font-style: italic;   

}
.submit_large_button:hover {
    background-color: #E3B873;
    cursor: pointer;
}

.included-main_large {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #E3B873;
    display: grid;
    grid-template-columns: 1500px 170px 290px;
    grid-gap: 10px;
    grid-auto-rows: 177px;
    grid-column-end: auto;
    background-color: #131313;
    align-items: center;
    text-transform: uppercase;

}
.included-main_large:hover {
    text-decoration: underline;
}
.main_large {
    background-color: #131313;
}
.content-main_large {
    margin-left: 684px;
    
}
.item1_large {
    
    padding-top: 107px;
    padding-left: 1286px;
}
.item2_large {
    padding-top: 107px;
}
.included-content-main_large {
    display: grid;
    grid-template-columns: 300px 300px 652px;
    grid-auto-rows: 100;
    grid-column-end: auto;
    background-color: #131313;

}

.included-content-main1_large {
    padding-left: 134px;
    grid-column: 1/3;
    grid-row: 1/2;
    text-transform: uppercase;
    letter-spacing: -0.07;
}
.content-main-title_large {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    color: #E3B873;     
    
}

.included-content-main2_large {
    grid-column: 3/4;
    grid-row: 1/8;
    
}
.included-content-img1_large {
    width: 680px;
    height: auto;
}

.included-content-main3_large {
    grid-column: 1/3;
    grid-row: 2/3;
}

.content-main-title-small-1_large {
    padding-left: 134px;
}

.content-main-paragraph_large {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    padding-left: 134px;   
    color: #ffffff;

}
.included-content-main4_large {
    
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
}
.content-main-paragraph-small-1_large {
    padding-left: 134px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;   
    color: #ffffff;
}

.content-main-title-small-1_large {
    grid-column: 1/3;
    grid-row: 3;
}

.content-main-paragraph-small_large {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;   
    color: #ffffff;
}
.included-content-main12_large{
    grid-column: 1/3;
}
.arrow1_large {
    padding-left: 134px;
    
}

.ball1_large {
    padding-left: 10px;
    padding-right: 10px;
}
.interval_large {
    width: 2500px;
}
.interval-inner_large {
    background-color: #131313;
}
.interval-title_large {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 1286px;
    padding-top: 90px;
    padding-bottom: 12px;
}
.interval-img_large {
    display: flex;
    background-color: #131313;
}

.fencing1_large {
    padding-left: 1320px;
    padding-top: 10px;
    
}
.Camera_large {
    padding-left: 10px;
    padding-bottom: 70px;
}
.fencing2_large {
    padding-left: 5px;
    padding-top: 10px;
}
